/********* Colors *************/
$ExtraLightColor: #EEEEEE;
$LightColor: #999999;
$Color: #333333;
$LightColor2: #666666;

$BackgroundHeaderColor: #FFE600;
$BackgroundButtonColor: #3483FA;


/********* Media Queries PX ************/
$break-m: 768px; 
$break-l: 990px;