<div class="header_main_brand">
    <img src="{{logoUrl}}" alt="Logo Mercado Libre" />
</div>
<div class="header_main_search">
    <form action="">
        <input type="text" class="header_main_search_input" name="search_box" placeholder="Nunca dejes de buscar" />
        <button class="header_main_search_btn"><i class="ion-android-search"></i></button>
    </form>
</div>